<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="tab4()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-card>
    <ion-item>
      <ion-card-header>
        <ion-card-title>{{Judul}}</ion-card-title>
        <ion-card-subtitle>
            {{Tanggal}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h4>{{Isi}}</h4><br>
        Rating = {{Nilai}}
      </ion-card-content>
    </ion-item>

  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let iFoto of dataFoto; index as position">

        <ion-card>
        <ion-img [src]="iFoto.link" (click)="detail(iFoto.link)"> </ion-img>
        
        <ion-card-header>
          <ion-card-title>{{iFoto.nama}}</ion-card-title>
        </ion-card-header>
        </ion-card>

        

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="tambahImage()">ADD IMAGES</ion-button>

</ion-content>
